*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans';
}

.container{
    position: relative;
    widows: 100%;
    min-height: 100vh;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}